h1 {
    background-color: brown;
    font-size: larger;
    margin-left: 70px;
    margin-top: 5000px;
    }
    
h3 {
    font-size: medium;
    margin-left: 7px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen {
    width: 200px; 
    height: 100px;
}

.cuadroarriba {
    position:absolute;
    background-color: #1e88e5;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    background:url(/LOGO/VE.png);
    width: 60px;
    height: 60px;
    margin-left: 10%;
    margin-top: 20px; 
}

.lupabusqueda{
    position: relative;
    font-size: 32px;
    margin-top: 35px; 
    margin-left: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0) ;
    border-radius:50%;
}
/**BOTONES de navegacion**/ 
.botones{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 15px gray;
    gap: 20px;
}

.barra {
    position: relative;
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    }
        
a:hover {
    color: #e0e0e0;
    background-color: transparent;
    text-decoration: underline;
}

/**Encabezado de titulos**/    
.contenedor_titulos {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    height: 40px;
    padding-left: 53px;
    gap: 280px;
}

.titulo{
    position: static;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-shadow: rgb(201, 204, 206) 3px 3px 3px;
    color: #000000;
}
/**Cuerpo de contenedor**/    
.cuerpocontenedor {
    display: flex;
    justify-content: center;
    height: 470px;
    width: auto;

}
/**Contenedor columna 1 - Comision Directiva **/  
.contenedorcomision {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-left: 50px;
}

.tituloscomision,
.titulos_jefes {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.contenedor_nombres {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
    height: 200px;
    background-color: #1e88e5;
    border: #000000 solid 1px;
}

.titulos_circulos{
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #ffffff;
    text-align: start;
}

.contenedor_linea1,
.contenedor_linea2,
.contenedor_linea3,
.contenedor_linea4 {

    padding-top: 5px;
    height: 200px;
    width: auto;

}

.circulo_foto_pte{
    width: 70px;
    height: 70px;
    border: #000000 solid 1px;
    border-radius: 50px;
    background-image: url(./caraprueba.png);
    background-size: cover;
}

.circulo_foto_vice{
    width: 70px;
    height: 70px;
    border: #000000 solid 1px;
    border-radius: 50px;
    background-image: url(./2.png);
    background-size: cover;
}

.circulo_foto_teso{
    width: 70px;
    height: 70px;
    border: #000000 solid 1px;
    border-radius: 50px;
    background-image: url(./3.png);
    background-size: cover;
}

.circulo_foto_secre{
    width: 70px;
    height: 70px;
    border: #000000 solid 1px;
    border-radius: 50px;
    background-image: url(./4.png);
    background-size: cover;
}

.texto_jefes {
    color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #000000;
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}


/**Contenedor columna 2 - DIALOGO - RECLAMOS **/  

.contenedor_reclamos {
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 450px;
    margin-left: 30px;
}

.contenedor_titulo_dialogos {
    width: 330px;
    height: 80px;
    background-color: #ffffff;
    padding: 5px;
}
.texto1{
    text-align: start;
    font-size: 15px;
    color: #000000;
    padding-top: 15px;
    padding-left: 5px;
}

.boton_dialogo{
    width: 300px;
    height: 50px;
    border: #a5a5a5 solid 1px;
    margin-left: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(177, 177, 177);

}
.texto_dialogo{
    color: #000000;
    text-align: center;
    font-style: bold;
    transition:all .2s ease-in-out;
    border-radius: 25px;

}
.texto_dialogo:hover{
    background-color: rgb(39, 203, 58);
    border-radius: 25px;
    color: #ffffff;
    border: #ffffff solid 1px;

}

.boton_reclamo{
    width: 300px;
    height: 50px;
    border: #a5a5a5 solid 1px;
    margin-left: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(177, 177, 177);
}
.texto_reclamo{
    color: #000000;
    text-align: center;
    font-style: bold;
    border-radius: 25px;
    transition:all .2s ease-in-out;
}
.texto_reclamo:hover{
    background-color: rgba(255, 0, 0, 0.817);
    border-radius: 25px;
    color: #ffffff;

}

.boton_correo{
    width: 300px;
    height: 26px;
    border: #a5a5a5 solid 1px;
    margin-left: 20px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(177, 177, 177);
}
.texto_correo{
    color: #000000;
    text-align: center;
    font-style: bold;
    border-radius: 25px;
    transition:all .2s ease-in-out;
}
.texto_correo:hover{
    background-color: rgba(0, 115, 255, 0.959);
    border-radius: 25px;
    color: #ffffff;
}

.logo_grande{
    width: 350px;
    height: 90px;
}

/**Contenedor columna 3 - Datos Utiles**/  

.contenedor_numeros{
    width: auto;
    margin-left: 40px;
}

.titulos_utiles{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 12px;
    color: #000000;
}

.tabla_numeros{
    background-color: #000000;
    padding-left: 30px;
    size-adjust: auto;
    width: 300px;
}
.telefono,
.nombre {
    font-size: 15px;
    padding-left: 3px;
    color: #e0e0e0;
    border: #ffffff solid 1px;
    gap: 20px;
    width: 120px;

}

/**Barra de contacto**/ 
.barracontacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;  
    border: #000000 thick 1px;
    background-color: #2298cf;
    gap: 12px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
    box-shadow: 5px 5px 15px gray
    
}
/**Iconos de contacto**/ 
.icono_wapps {
    width: 45px;
    height: 45px;
    font-size: 35px;
    padding-top: 4px;
    padding-left: 4px;
    color: #25D366;
    border: #ffffff solid 1px;
    border-radius: 50%;
    background-color: white;
    
}

.icono_telefono{
    width: 45px;
    height: 45px;
    font-size: 33px;
    padding-top: 6px;
    padding-left: 3px;
    color: #000000;
    border: #ffffff solid 1px;
    border-radius: 50%;
    background-color: white;

}

.icono_wapps:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.icono_wapps:hover {
    color: #ffffff;
    background-color: #128C7E;
    transition:all .2s ease-in-out;
}

.icono_telefono:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.icono_telefono:hover {
    color: #ffffff;
    background-color: #1e88e5;
    transition:all .2s ease-in-out;
}

.consultenos {
    font-size: medium;
    color:#ffffff;
}
/**Contenedor Pie de pagina**/ 
.contenedor_pie{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000000;
    width: auto;
    height: auto;   
    
}
/**Direccion**/ 
.direccion {
    width: auto;
    height: 180px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
}

.horarios {
    width: auto;
    height: 180px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    padding-top: 5px;
}

.texto_direccion1,
.texto_direccion3 {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    font-size: 25px;
    color: #e0e0e0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto_direccion2,
.texto_direccion4 {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #0033FF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/**Horario**/ 
.texto_horarios1 {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    font-size: 25px;
    color: #e0e0e0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto_horarios2 {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #0033FF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/**Redes**/ 
.redes {
    display: flex;
    text-align: center;
    font-size: large;
    color: #e0e0e0;
    width: auto;
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.facebook:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.facebook:hover {
    color: #ffffff;
    background-color: #4267B2;
    border-radius: 30px;
    transition:all .2s ease-in-out;
}

.facebook {
    font-size: 60px;
    color: #ffffff;

}
