h1 {
    background-color: brown;
    font-size: larger;
    margin-left: 70px;
    margin-top: 5000px;
    }
    
h3 {
    font-size: larger;
    margin-left: 7px;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen {
    width: 200px; 
    height: 100px;
}

.cuadroarriba {
    position:absolute;
    background-color: #1e88e5;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    background:url(/LOGO/VE.png);
    width: 60px;
    height: 60px;
    margin-left: 10%;
    margin-top: 20px; 
}

.lupabusqueda{
    position: relative;
    font-size: 32px;
    margin-top: 35px;
    margin-left: 80%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0) ;
    border-radius:50%;
}

.botones{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 15px gray;
    gap: 20px;
}

.barra {
    position: relative;
}

.contenedor_titulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 45px;
    gap: 500px;
}

.salud,
.estudios {
    display: flex;
    justify-content: center;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-shadow: rgb(201, 204, 206) 3px 3px 3px;
    color: #000000;
}

.cuerpocontenedor {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    width: auto;
    height: 270px;
}
.contenedor_medicos {
    width: 550px;
    height: 370px;
    margin-left: 40px;
    margin-right: 50px;
}

.contenedor_estudios {
    width: 550px;
    height: 230px;
    margin-right: 50px;
}
.cuerpotablaOS {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    width: auto;
    height: auto;
}

.tabla_medicos,
.tabla_estudios {
    display:flex;
    justify-content: center;
    width: 550px;
    height: auto;
    background-color: #03a9f4;

}

.tabla_OS{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: auto;
    background-color: #ffffff;
}
.especialidad_titulo,
.profesional_titulo,
.dia_titulo {
    text-align:start;
    border-bottom:#e0e0e0 solid .3px;
    width: 500px;
    height: auto;
    color: #e0e0e0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    text-indent: 5px;
}

.especialidad,
.profesional,
.dia{
    text-align:start;
    border:#b9b9b9 solid .3px;
    width: 500px;
    height: auto;
    color: #000000;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: auto;
    text-indent: 5px;
}

.especialidad_titulo2,
.profesional_titulo2,
.dia_titulo2 {
    text-align:start;
    border-bottom:#e0e0e0 solid .3px;
    width: 500px;
    height: auto;
    color: #03a9f4;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    text-indent: 5px;

}

.especialidad2,
.profesional2,
.dia2{
    text-align:start;
    border:#b9b9b9 solid .3px;
    width: 500px;
    height: auto;
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    table-layout: auto;
    background-color: #000000;
    text-indent: 5px;
}


.icono_wapps {
    width: 60px;
    height: 60px;
    font-size: 50px;
    padding-top: 4px;
    padding-left: 5px;
    color: #25D366;
    border: #ffffff solid 1px;
    border-radius: 50%;
    background-color: white;
}

.icono_wapps:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.icono_wapps:hover {
    color: #ffffff;
    background-color: #128C7E;
    transition:all .2s ease-in-out;
}


.barracontacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_turno{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 70px;
    border: #000000 thick 1px;
    background-color: #000000;
    gap: 12px;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
    box-shadow: 5px 5px 15px gray;
    transition:all .5s ease-in-out;
}

.contenedor_turno:hover{
    background-size: cover;
    background-color: #028f1e;
}
.icono_wapps {
    width: 45px;
    height: 45px;
    font-size: 35px;
    padding-top: 4px;
    padding-left: 4px;
    color: #25D366;
    border: #ffffff solid 1px;
    border-radius: 50%;
    background-color: white;
    
}

.icono_telefono{
    width: 45px;
    height: 45px;
    font-size: 33px;
    padding-top: 6px;
    padding-left: 3px;
    color: #000000;
    border: #ffffff solid 1px;
    border-radius: 50%;
    background-color: white;

}

.icono_wapps:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.icono_wapps:hover {
    color: #ffffff;
    background-color: #128C7E;
    transition:all .2s ease-in-out;
}

.icono_telefono:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.icono_telefono:hover {
    color: #ffffff;
    background-color: #1e88e5;
    transition:all .2s ease-in-out;
}

.consultenos {
    font-size: medium;
    color:#ffffff;
}

.contenedor_pie{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000000;
    width: auto;
    height: 220px;
    
}

.direccion {
    width: auto;
    height: 180px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 5px;
}

.horarios {
    width: auto;
    height: 180px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    padding-top: 5px;
}


.texto_direccion1,
.texto_direccion3 {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    font-size: 25px;
    color: #e0e0e0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto_direccion2,
.texto_direccion4 {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #0033FF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto_horarios1 {
    width: 300px;
    height: 40px;
    margin-left: 20px;
    font-size: 25px;
    color: #e0e0e0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.texto_horarios2 {
    width: 300px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
    color: #0033FF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.redes {
    display: flex;
    text-align: center;
    font-size: large;
    color: #e0e0e0;
    width: auto;
    height: 60px;
    margin-left: 50px;
    margin-right: 50px;
}
.facebook:link {
    color: rgb(255, 255, 255);
    background-color: black;
    }
      
.facebook:hover {
    color: #ffffff;
    background-color: #4267B2;
    border-radius: 30px;
    transition:all .2s ease-in-out;
}

.facebook {
    font-size: 60px;
    color: #ffffff;

}
